body {
	background-color: black;
	margin: 0;
	overflow: hidden;
}

.wrapper {
	position: relative;
	width: 100vw;
	height: 100vh;
	background-color: black;
	transform: translate(50vw, 50vh);
}

.point {
	height: 5px;
	width: 5px;
	border-radius: 50%;
	background-color: white;
	position: absolute;
	transform: translate(-2.5px,-2.5px );
}

#reset {
	background-color: white;
	height: 50px;
	width: 100px;
	position: absolute;
	top: 10px;
	right: 10px;
}

.vector {
	top: 0px;
	left: 0px;
	background-color: red;
	height: 3px;
	position: absolute;
	z-index: 5;
}

.blue {
	background-color: blue;
}

.gridlineV {
	height: 200vh;
	background-color: white;
	width: 3px;
	top: -100vh;
	position: absolute;
	transform: translateX(-1.5px);
	opacity: 0.25;
}

.gridlineH {
	opacity: 0.25;
	width: 300vh;
	background-color: white;
	height: 3px;
	left: -100vw;
	position: absolute;
	transform: translateY(-1.5px);
}