body {
	background-color: black;
	margin: 0;
	overflow: hidden;
}

.wrapper {
	position: relative;
	width: 100vw;
	height: 100vh;
	background-color: black;
	transform: translate(50vw, 50vh);
}

.point {
	height: 5px;
	width: 5px;
	border-radius: 50%;
	background-color: white;
	position: absolute;
	transition: 1s;
	transition-timing-function: cubic-bezier(0,.63,0,1.03);
	transform: translate(-2.5px,-2.5px );
}

#reset {
	background-color: white;
	height: 50px;
	width: 100px;
	position: absolute;
	top: 10px;
	right: 10px;
}

.vector {
	top: 0px;
	left: 0px;
	background-color: red;
	height: 3px;
	position: absolute;
	transition: 1s;
	transition-timing-function: cubic-bezier(0,.63,0,1.03);
	z-index: 5;
}
